.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
}

.nav-logo {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
}

.nav-logo span {
  color: orangered;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  gap: 90px;
}

.nav-menu li {
  cursor: pointer;
  transition: 0.3s ease-out;
}

.nav-menu li:hover{
  color: orangered;
}

.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  color: #fff;
  background: #000;
}

.nav-contact:hover{
   background: white;
}